.contactSection {
    padding: 80px 0;
}

.contactSection .title h2 {
    color: #2c3e50;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
}

.starWrapper {
    display: flex;
    align-items: center;
}

.line {
    width: 110px;
    height: 4px;
    background-color: #2c3e50;
    border-radius: 2px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 18rem;
    width: 100%;
}
input, textarea{
  padding: 30px 0;
  width: 100%;
  border: none;  
  border-bottom: rgb(206, 206, 206) solid 1px;
}

input::placeholder, textarea::placeholder{
   font-size: 1.5rem;
   font-weight: 400;
}
form button{
    width: 6.1rem;
}
@media (max-width: 1200px) {

    form{
    
    padding: 40px 1rem;
    
}


}