.portfolioSection {
    padding: 80px 0;
}

.portfolioSection .title h2 {
    color: #2c3e50;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
}

.starWrapper {
    display: flex;
    align-items: center;
}

.line {
    width: 110px;
    height: 4px;
    background-color: #2c3e50;
    border-radius: 2px;
}

.portfolioContent img {
    width: 100%;
    max-width: 25rem;
    border-radius: 10px;
    display: block;
}

@media (max-width: 787px) {
    .portfolioSection .title h2 {
        
        font-size: 2rem;
    }
}