nav{
  background-color: #2c3e50;  

}
ul li a{
    text-decoration: none;
    color: white;

}
button{
    background-color: #1abc9c;
    border: #16997f solid 2px;
    outline: none;
}
.menuList {
  display: flex;
  justify-content: end;
}
.menuBtn {
  display: none;
}
.titleSize {
    font-size: 1.75rem;
}

@media (max-width: 768px) {
    .titleSize {
        font-size: 1.2rem;
    }

    .menuBtn button {
        padding: 6px 10px;
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
  .menuList {
    display: none !important;
  }
  .menuBtn {
    display: block;
  }
  .titleSize{
    font-size: 20px;
  }
}

@media (max-width: 340px) {
  .colFlex{
    display: flex;
    flex-direction: column;
  }
  
}


