.aboutSection {
    padding: 80px 0;
    background-color: #1abc9c;
}

.aboutSection .title h2 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
}

.starWrapper {
    display: flex;
    align-items: center;
}

.line {
    width: 110px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.aboutSection .aboutContent {
    padding: 40px 190px;
}

.aboutSection .aboutContent p {
    color: white;
    font-size: 1.3rem;
}


@media (max-width: 1200px) {

    .aboutSection .aboutContent {
        padding: 30px 2rem;
    }

}