.footerSection {
  
    background-color: #2c3e50;
    color: white;
}
.footerSection .footerContent{
  padding: 70px 0;
}
.footerTitle {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.footerText {
    font-size: 1.3rem;
    line-height: 1.6;
}

.footerText a {
    color: #1abc9c;
    text-decoration: underline;
}



.socialIcons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.socialIcons a {
    width: 52px;
    height: 52px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.25rem;
}



.endFooter {
    background-color: #1a252f;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
}
