.heroSection{
    background-color: #1abc9c;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
img{
    width: 230px;
}
.heroSection h1{
    font-weight: bold;
    font-size: 4rem;
    color: white;
}
.heroSection h5 {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
}
.starWrapper {
    display: flex;
    align-items: center;
}

.line {
    width: 110px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}
@media (max-width: 1200px) {

    .heroSection h1{
    
    font-size: 2rem;
   
}

}
